<h1>New Hero</h1>
<%= form_tag "/heroes", method: :post do %>
<p>Name<input type="text" name="name"></p>
<p>Power<input type="text" name="power"></p>
<p>Bad Guy<input type="text" name="bad_guy"></p>
<p><input type="submit" value="Create"></p>
<% end %>